---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import PublicationCard from "@components/PublicationCard.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE);

const bioItems = (await getCollection("bio"))
  .sort(
    (a, b) =>
      new Date(b.data.dateEnd).valueOf() - new Date(a.data.dateEnd).valueOf(),
  )
  .slice(0, SITE.NUM_BIO_ITEMS_ON_HOMEPAGE);

const bio = await Promise.all(
  bioItems.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content };
  }),
);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        <!-- Introducing Astro Micro 🔬 -->
        Welcome to my page!
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Enjoying math and machine learning.
              </p>
            </span>
            <!-- <span class="animate">
              <p>
                Micro still comes with everything great about Nano — full type
                safety, a sitemap, an RSS feed, and Markdown + MDX support.
                Styled with TailwindCSS and preconfigured with system, light,
                and dark themes.
              </p>
              <p>
                Visit
                <Link href="https://github.com/trevortylerlee/astro-micro">
                  Astro Micro on GitHub
                </Link>
                to fork the repository to get started.
              </p> -->
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">Bio</h5>
            <Link href="/bio"> See all </Link>
          </div>
          <ul class="flex flex-col space-y-4">
            {
              bio.map((entry) => (
                <li>
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="font-semibold text-black dark:text-white">
                    {entry.data.company}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.role}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Research
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section>
        
        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section> -->

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
